.mecard__photo {
  grid-area: mecard__photo;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  contain: content;
  object-fit: cover;
}

@media (max-width: 768px) {
  .mecard__photo {
    width: 100px;
    height: 100px;
  }
}