.skills {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90vw;
  width: 500px;
  height: 100px;
  transition: 1000ms;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}