.results { 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/result-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1500ms;
  opacity: 1;
  scale: 1;
}

@media (max-width: 768px) {
  .results {
    background-image: url(../../images/result-bg2.jpg);
  }
}