.results__hidden {
  visibility: hidden;
  opacity: 0;
  bottom: -0;
  filter: brightness(0);
  scale: 0.7;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  border-radius: 300px;
}

.results__hidden .results__title {
  margin: 500px 0 700px 0;
}