.mecard__name {
  grid-area: mecard__name;
  color: white;
  font-size: 60px;
  margin: 0;
  place-self: start;
}

@media (max-width: 768px) {
  .mecard__name {
    font-size: 30px;
    place-self: center;
    justify-self: start;
  }
}