.googler__icon {
  color: white;
  font-size: 200px;
  text-shadow: 0px 0px 20px #030303;
  margin: 0 0 20px 0;
}


@media (max-width: 768px) {
  .googler__icon {
    font-size: 30vw;
    text-align: center;
  }
}